.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:white;
}
.form-container {
  background: rgb(228, 249, 228);;
  padding: 70px;
  border-radius: 10px;
  width: 160vh;
  height: 60vh;
 
  
}
.form-group {
  margin-bottom: 15px;
  margin-right: 15px;
}
.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color:black;
}
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-container button {
  background: green;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  
  
  
}
.form-container button:hover {
  background:#6c9a7a22;
}