.popular{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 75vh;
  padding-bottom: 40px;
  

}
.popular h1{
  color: black;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 40px;
}
.popular hr{
  width: 200px;
  height: 4px;
  border-radius: 10px;
  background: #252525;
}
.popular-recipe{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 70px;
}
.popular-recipe img{
  width: 230px;
  height: 250px;
  transition: transform 0.3s ease-in-out;
  
}
.popular-recipe:hover img {
  transform: scale(1.1); 
}
.text{
  display: flex;
  justify-content: center;
  gap: 206px;
  margin-top: 15px;
  
}

